
.sectionOne, .sectionTwo, .sectionThree, .sectionFour{
                padding: 10px 10px 10px 20px;
                margin:10px 175px;
                border: 1px solid gray;
            }
header{
    color:red;
    text-align:center;
    font-family: "Fredericka the great";
    size:150px;
    tex
}
p{
	font-family:"fredericka the great";
}

ul{
	font-family:"fredericka the great";
	color: #00ff00;
	letter-spacing: .75px;
	}

.navbar-nav{
	color: red;
}

.shoppingCart{
    margin-bottom:50px;
    
}

.modal-content .shoppingCart{
    margin-left:15px;
    
}

.sectionOne, .sectionTwo, .sectionThree, .sectionFour{
                padding: 10px 10px 10px 20px;
                margin:10px 175px;
                border: 1px solid gray;
            }
ul li{
            color:#000;
            font-family: 'century gothic';
        }

.form{
            margin-top:15px;
            width: 0px auto;
            height:200px;
        
            display:block;
           
        }
#inputs{
       text-align: center;
}

legend{

    margin-top:25px;
    border-bottom:1px solid #dedede;
}

.cartControls{

    text-align: left;
    margin-top:15px;
    margin-left:50px;

}

.clearCart{
    margin-left:10px;

}

.sectionDetails{
    margin-left:1px;
}


fieldset {
            text-align: center;
        }
#email{
            margin-left: 60px;
        }
    
.jumboTitle, a{
        font-family:"fredericka the great";
        color: #E84413 !important;        
        text-align: center;
        text-decoration: none;
        
    }    
    
.overlay{
        width:100%;
        background-color:black;
        height: 100%;
        position:fixed;
        margin-top:-220px;
        opacity:2%;
        display:none;
        
    }
    
.mainThumbs{
        width:150px;
        height:150px;
        position: relative;
        background-color:#eee;
        margin-left:10px;
        margin-top:20px;
    }

.pageThumbs{
        width:560px;
        height:400px;
        position: relative;
        background-color:#eee;
        margin-top:20px;
        padding-right:;
        border-radius:25px;
        
    }
.cartIcon{
        text-align:right;
        padding-right:4px;
        margin-right:55px;
        size:50px;
       /* margin-top:50px;*/
        opacity:.5;
        
       
    }

.cart-count{
    font-size:1.3em;
    margin-right:47px;
    margin-top:-27px;
    text-align: right;
  }

#cart-count{
    
    color:#fff;
    font-weight: bold;
    margin-left:1px;
}


.itemtitle, ul, li, .itemPrice, .wahini{
    margin-left:45px;
}


input#name{

    margin-left:60px;
}

.colorDrop{
    margin-bottom:15px;

}
.cartControls{

    margin-left:50px;
}


.modal{
    opacity: .7;
    background-color: #696969;
    margin-top:10%;
}
.modal-form{

    margin-left:15px;
    font-family:"open sans";
}

.badge-notify{
    background-color:#CE1616;

}

.controlButtons{
  margin-left:50px;
}

#itemsInCart{
  border:1px dotted black;
  width:300px;
  height:100px;
  visibility: hidden;
}
li 
{
 list-style-type: none;
}

.thumbDetails{

z-index: 5;
margin-left:-1px;

}
.itemDescription {
    margin-left: -120px;
    /* display: inline; */
}
.namelbl
{
    text-align: center;
    margin-top:30px;
    margin-bottom:10px;
}
.namelbl2
{
    text-align: center;
    margin-top:50px;
    font-size:25px;    
}
.custom-controls-stacked
{
    text-align:center;
    margin-top:-34px;
    display: inline;
    margin-bottom: 15px;
 }

input#radioStacked1_0
{
    margin-right:5px;
}
 input#radioStacked1_1 
 {
    margin-left: 6px;
    margin-right:5px;
}

 .subtitle
 {

    margin-top:25px;
    font-size: 20px;
    
 }

.subBtn
{
    display: block;
    margin-top:15px;
    margin-bottom:30px;
    padding:2px 0 0 0;
    text-align:center;
}
.containment
{
    border:1px dashed #F5310A;
    margin-bottom:15px;
}
.containment2
{
   
    height:auto;
    margin-bottom:55px;
    border:2.5px dotted #f5310A;
}
.hibiscus img
{   
    float:right;
    display: inline;
    margin-right:290px;
    margin-left:auto;
    margin-top: -80px;
    width: 75px;
    height: 75px;
    opacity: .7;
}
.jumbo
{
    font-size:50px;
    margin-top:25px;
}
.checkbox label, .radio label
{
    font-weight:bold;
}

select#sweatColor {
    
    margin-bottom:30px;
}
.cutterSection
{
    text-align:center;
    margin-bottom:25px;
}
.storeNum{
    margin:45px auto 0 auto;
    text-align: center;
    display: inline;
}
#storeNum{
width:200px;
margin:0 auto;
}
.storeID
{
    max-width: 100%;
    display: block;
    margin-top: 50px;
}

.headline
{
    font-family:"Fredericka the great";
    text-align: center;
    margin:0px auto -45px auto;

}

h3
{
    font-size:20px;
    color:#566063;
    font-weight:bold;
    letter-spacing: 3px;

}
#shirtSize
{
    
    margin-bottom: 30px;
    width: 50%;
    margin-left: 190px;
}
.crewShirts
{
    margin-left:190px;
}
#radioStacked2
{
    margin-left:128px;
}


#cDate
{
    font-size:20px;
    font-weight:bold;
    letter-spacing: 3px;
    color:#566063;
}
.cDate
{
    margin-top:16px;
    text-align:right;
}

table {
  background-color: #ffffff;
}
.tbl2
{
    margin-top:15px;
    background-color:#fafafa;
    
}
.tbl2>tbody>tr>th{
    border-top:none;
}
table th {
  color: #c81111;
  text-align:center;
}
#thQ
{
    margin-left:15px;
}
.tagForm
{
    margin-top:15px;
    margin-bottom:50px;
}

.theader{
    margin-left:50px;
}
.wareHouse{
    margin-top:50px;
    display: block;
    
    
}
.items
{
    text-align: center;
}
.well
{
    background:#f1f0f0;
    border:none;
}
legend h3
{
    font-size:20px;
    font-family:'Fredericka the great';
    color:#464137;
    letter-spacing: 2px;
}

.wareHouseSub
{

    text-align: center;
    font-size:20px;
    font-weight: bold;
    padding-right:15px;
    border:none;
}
input.wareHouseSub
{
    float:right;
    display:block;
    margin-top:-35px;
}
